# Directory ignores
log/
__pycache__/
venv/
.stealth_venv/
.ipynb_checkpoints/
.vscode/
temp/

# File extensions
*.py[cod]
*.so
*.log
*.out
*.pid
*.tmp
*.bak
*.swp
*~
*.nbconvert.ipynb
*.pdf
*.pages
*.docx
*.env
*.secrets
nohup.out

# System files
.DS_Store
